h1 {
  font-size: 50px;
}

p {
  text-align: center;
}

#contactForm {
  margin: auto 200px;
}

#contactForm>div>label {
  color: #FFF;
  font-size: 18px;
}

.btn {
  font-size: 18px;
  color: #FFF;
  background-color: #909;
  border-color: #909;
}

.btn:focus, .btn:hover {
  color: #FFF;
  background-color: #999;
}
