h2 {
  color: #FFF;
  margin: 0 10px;
}

.frame-data-table {
  border-width: 3px;
  margin: 0 10px;
}

.frame-data-table>thead>tr>th {
  color: #FFF;
  background-color: #808;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  color: #FFF;
  background-color: #808;
 }

 .table-striped>tbody>tr:nth-child(odd)>td,
 .table-striped>tbody>tr:nth-child(odd)>th {
   color: #FFF;
   background-color: #000;
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #066;
}

.balance-change {
  color: #FA0 !important;
  font-weight: bold;
}

.second-rekka {
  text-indent: 1em;
}

.third-rekka {
  text-indent: 2em;
}
