#mainLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chara-icon-row {
  display: flex;
}

.chara-icon {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.chara-icon-temp {
  width: 200px;
  height: 200px;
}
