html, body {
  background-color: #0d0d0d;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
}

footer {
  border-top: solid purple;
}

#menu>ul>li>a:focus, #menu>ul>li>a:hover, #header-navbar>ul>li>a:focus, #header-navbar>ul>li>a:hover {
  background-color: darkgrey;
}

#headerCollapseButton {
  background-color: purple;
}

#headerCollapseButton>span {
  background-color: white;
}

#headerCollapseButton:hover>span {
  background-color: darkgrey;
}

#header-navbar>ul>li>ul>li>a {
  color: black;
  background-color: white;
}

#header-navbar>ul>li>ul>li>a:hover, #header-navbar>ul>li>ul>li>a:focus {
  background-color: darkgrey;
}

#footerCarousel, #footerCarousel>div>div>a {
  max-height: 200px;
}

.carousel-inner>.item>a>img {
  height: 200px;
  width: auto;
  max-width: 400px;
  margin: auto;
}

.menu-item {
  background-color: purple;
  color: white;
}

.menu-item:focus, .menu-item:hover {
  color: white;
  background-color: darkgrey;
}

.version-change {
  color: orange;
}
